{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'js/pixi.min.js' %}"></script>
{% endblock %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

{% endblock %}

{% block foot %}
<script>
    const app = new PIXI.Application({width: 1200, height: 800});
    document.body.appendChild(app.view);
    const {stage} = app;

    // prepare circle texture, that will be our brush
    const brush = new PIXI.Graphics();
    brush.beginFill(0xffffff);
    brush.drawCircle(0, 0, 500);
    brush.endFill();

    app.loader.add('crop_bad', '{% static 'img/textures/crop_bad.jpg' %}');
    app.loader.add('crop_good', '{% static 'img/textures/crop_good.jpg' %}');
    app.loader.add('badland', '{% static 'img/textures/badland.jpg' %}');
    app.loader.add('cat', '{% static 'img/textures/cat.png' %}');
    app.loader.load(setup);

    function setup(loader, resources) {
        const background = new PIXI.Sprite(resources.badland.texture);
        stage.addChild(background);
        background.width = app.screen.width;
        background.height = app.screen.height;

        let field = new PIXI.Graphics();
        field.beginFill(0);
        var fieldTiling = new PIXI.Sprite(resources.crop_bad.texture);
        fieldTiling.width = app.screen.width;
        fieldTiling.height = app.screen.height;
        stage.addChild(fieldTiling);
        field.drawPolygon({{ field|safe }});
        field.endFill();
        stage.addChild(field);
        fieldTiling.mask = field;

        {#const renderTexture = PIXI.RenderTexture.create(1200, 800);#}
        {#const renderTextureSprite = new PIXI.TilingSprite(renderTexture);#}
        {#stage.addChild(renderTextureSprite);#}
        {#fieldReady.mask = renderTextureSprite;#}
        {#fieldReadyTiling.mask = fieldReady;#}

        const cat = new PIXI.Sprite(resources.cat.texture);
        stage.addChild(cat);
        cat.x = 50;
        cat.y = 50;

        // Draw grid
        let grid = {{ grid|safe }};
        console.log(grid);
        for(let point of grid){
            let gridCircle = new PIXI.Graphics();
            gridCircle.beginFill(0x00cc14);
            stage.addChild(gridCircle);
            gridCircle.x = point[0];
            gridCircle.y = point[1];
            gridCircle.drawCircle(0, 0, 10);
            gridCircle.endFill();
            console.log(point);
        }

        stage.interactive = true;
        stage.on('pointerdown', pointerDown);
        stage.on('pointerup', pointerUp);
        stage.on('pointermove', pointerMove);

        let dragging = false;

        function pointerMove(event) {
            if (dragging) {
                brush.position.copyFrom(event.data.global);
                cat.x = event.data.global.x - 32;
                cat.y = event.data.global.y - 32;
                {#app.renderer.render(brush, renderTexture, false, null, false);#}
            }
        }

        function pointerDown(event) {
            dragging = true;
            pointerMove(event);
        }

        function pointerUp(event) {
            dragging = false;
        }
    }
</script>
{% endblock %}