django==3.0.3
django-annoying==0.10.6
django-extensions==2.2.8
django-jet==1.0.8
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
numpy==1.18.2
shapely==1.7.0
scikit-learn==0.22.2.post1
pandas==1.0.3
matplotlib==3.2.1
geopy==1.22.0
haversine==2.3.0
pyproj==3.0.0.post1
